<h1>Dragon Ball</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Add: {{ name() }} - {{ power() }}</h3>
    <input #txtName type="text" class="form-control" placeholder="Name" [value]="name()" (change)="name.set(txtName.value)" (input)="name.set(txtName.value)" />
    <input #txtPower type="number" class="form-control mt-2" placeholder="Init power" [value]="power()" (input)="power.set(txtPower.valueAsNumber)" />
    <button class="col-12 mt-2 btn btn-primary" (click)="addCharacter()">Create</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>List</h3>
    <ul>
      @for (item of characters(); track item.id; ) {
      @if (item.power > 5000) {
      <li>
        <span>{{ item.name }} </span>
        <strong
          [class.text-danger]="item.power > 50000"
          [class.text-primary]="item.power >= 15000"
          >({{ item.power }})</strong>
      </li>
      }
      }
    </ul>
  </div>
</section>
